* {
	/* margin: 0; */
	text-align: center;
}

.linguagem {
	border: 1px solid black;
	border-radius: 15px;
	width: 50%;
	margin: auto;
	padding: 10px 20px;
	box-shadow: 10px 10px 5px #ddd;
	transition: all .1s ease-in-out;
	margin-top: 20px;
}

.linguagem:hover {
	transform: scale(1.02);
}

.linguagem p {
	text-align: justify;
}